body {
  background-image: url(./images/background.jpg);
  margin: 0px;
}

.page {
  width: 1280px;
  margin: 0px auto;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 71px 99px 101px;
  
}

ul {
  display: flex;
  margin: 0;
  padding: 0;
  gap: 64px;
  list-style: none
  
}

li {
  font-style: normal;
  font-size: 14px;
  line-height: 28px;

  text-align: center;
  font-family: 'JetBrains Mono', monospace;
}

li, a {
  color: white;
  text-decoration: none;
}

main {
  display: flex;
  align-items: center;
  margin: 101px 99px 157px;
}

section {
  margin-left: 82px;
}

h1 {
  text-align: center;
  font-size: 35px;
  line-height: 40px;
  font-style: normal;

  font-family: 'JetBrains Mono', monospace;
  color: #FFFFFF;
}

p {
  text-align: center;
  font-size: 16px;
  line-height: 28px;

  font-family: 'Open Sans', sans-serif;
  color: #C2C2C2;
}

span {
  color: #00BFA6;
}

footer {
  text-align: center;

  font-family: 'JetBrains Mono', monospace;
  font-size: 14px;
  line-height: 28px;
  color: #FFFFFF;
}

footer .line {
  display: block;
  margin: auto;
  margin-top: 167px;
}

#padlock {
  position:fixed;
  bottom: 20px;
  left: 20px;
}